<div ng-if="files.length>0" class="mp-FolderItemContent mp-ItemContent"><!--  -->
	<div class="mp-ItemContent-header">
		<h2 class="mp-ItemContent-title"><i class="material-icons dp48 changeColor">insert_drive_file</i>&nbsp;{{sectionTitle}}</h2>
	</div>
</div>
<div ng-if="files.length>0" class="mp-FolderItemContent mp-ItemContent mp-mainContentArea">
	<div class="mp-dashboard">
		<div class="dropdown mainUploadBtn">
		  <button class="dropbtn mainUploadBtn"><i class="material-icons dp48 changeColor">add</i>&nbsp;Add</button>
		  <div class="dropdown-content">
		    <a href="javascript:void(0);" ng-click="uploadImageFile($event,'Desktop')"><input type="file" id="imgupload" style="display:none"/>Upload from Desktop</a>
		    <a href="javascript:void(0);" ng-click="uploadImageFile($event,'GoogleDrive')">Upload from Google drive</a>
		    <a href="javascript:void(0);" ng-click="uploadImageFile($event,'OneDrive')">Upload from One drive</a>
		  </div>
		</div>
	</div>
	<div class="mp-folderItemHeader">
		<div class="mp-headerCls row no-gutters">
			<div class="col-md-1 col-sm-1 col-xs-12 text-center">
				<i class="material-icons dp48 changeColor">image</i>
			</div>
			<div class="col-md-3 col-sm-1 col-xs-12">
				Name
			</div>
			<div class="col-md-1 col-sm-1 col-xs-12">
				Type
			</div>
			<div class="col-md-1 col-sm-1 col-xs-12">
				Size
			</div>
			<div class="col-md-1 col-sm-1 col-xs-12 text-center">
				Comment
			</div>
			<div class="col-md-2 col-sm-1 col-xs-12 text-center">
				Linked User
			</div>
			<div class="col-md-1 col-sm-1 col-xs-12">
				Share
			</div>
			<div class="col-md-1 col-sm-1 col-xs-12 text-right">
				Created on
			</div>
			<div class="col-md-1 col-sm-1 col-xs-12 text-right">
				
			</div>
		</div>
		<div class="mp-filesListView row no-gutters" ng-repeat="file in files" data-imageId="{{file.id}}" ng-click="showCanvasPanel($event)" data-url="{{file.image}}">
			<div class="mp-imageIcon  col-md-1 col-sm-1 col-xs-12 text-center">
				<img src="{{file.image}}">
			</div>
			<div class="col-md-3 col-sm-1 col-xs-12 elipseText">
				<span class="fileName">
					{{file.image_name}}
				</span>
			</div>
			<div class="col-md-1 col-sm-1 col-xs-12">
				<span class="fileName">
					{{file.ext}}
				</span>
			</div>
			<div class="col-md-1 col-sm-1 col-xs-12">
				<span class="fileName">
					{{file.size}}
				</span>
			</div>
			<div class="col-md-1 col-sm-1 col-xs-12 text-center">
				<span class="fileName">
					{{file.imgcount}}
				</span>
			</div>
			<div class="col-md-2 col-sm-1 col-xs-12 text-center">
				<span class="fileName showSharedUser" ng-click="showUserList($event,file.id)">
					Linked user<i class="material-icons dp48">input</i>
				</span>
			</div>
			<div class="mp-imageShareView col-md-1 col-sm-1 col-xs-12">
				<ul>
					<li ng-repeat="userShare in file.share"><div class="userback u_back{{userShare}} u_{{userShare}}"></div></li>
					<li ng-click="showForm()"><div class="userback mp-shareImage"><i data-imageId="{{file.id}}" class="material-icons dp48 changeColor showSharedUserWindow" ng-click="showSharedUserWindow($event)">share</i></div></li>
				</ul>
			</div>
			<div class="col-md-1 col-sm-1 col-xs-12 text-right">
				<div uploadedDate="{{file.uploaded_date}}" updatedtime></div>
			</div>
			<div class="mp-imageMenu col-md-1 col-sm-1 col-xs-12 text-right">
				<span class="dropdown">
				  <span><i class="material-icons dp48">more_vert</i></span>
				  <div class="dropdown-content listDropDown" style="float:right;right: 0;">
				    <a href="javascript:void(0);" class="listMenuItems" ng-click="shareImage($event,file.id)">Share</a>
				    <a href="javascript:void(0);" class="listMenuItems" ng-click="deleteImage($event,file.id)">Delete</a>
				  </div>
				</span>
			</div>
		</div>
	</div>
</div>
<div ng-if="files.length==0" class="mp-FolderItemContent emptyArea mp-ItemContent mp-mainContentArea">
	<div class="selectFile">
    	<div><i class="fa fa-upload nextIcon" aria-hidden="true"></i></div>
	    <div class="dropdown mainUploadBtn">
		    <button class="dropbtn mainUploadBtn"><i class="material-icons dp48 changeColor">add</i>&nbsp;Select a file for uploading</button>
		    <div class="dropdown-content">
		    <a href="javascript:void(0);" ng-click="uploadImageFile($event,'Desktop')"><input type="file" id="imgupload" style="display:none"/>Upload from Desktop</a>
		    <a href="javascript:void(0);" ng-click="uploadImageFile($event,'GoogleDrive')">Upload from Google drive</a>
		    <a href="javascript:void(0);" ng-click="uploadImageFile($event,'OneDrive')">Upload from One drive</a>
		    </div>
	    </div>
    	<span>(JPG, JPEG, PNG & GIF files are allowed)</span>
    </div>
</div>